*{
    margin: 0;
    padding: 0;

}
.navbar {
    display: flex;
    position:sticky ;
    align-items: center;
    top: 0;
    cursor: pointer;
    justify-items: center;
    
}
.nav-list {
      width: 50%;
      /*background-color: ;*/
      display: flex;
      align-items: center;
    
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.logo img{

    width: 90%;
    border: 3px solid black;
    border-radius: 50%;
}
.nav-list li{
    list-style: none;
    padding: 26px ;

}
.nav-list li a{ 
    text-decoration: none;
    color: white;
    }
.nav-list li a:hover{ 
    
    color: gray;
}

.rightNav {
   /* background-color: ;*/
    width: 90%;
    text-align: right;
    padding: 0.23px;
   
    
}
.search{
    padding: 5px;
    font-size: 20px;
    border: 3px solid gray;
    border-radius: 5%;
    
    

}
.background{
    background: rgba(0, 0, 0, 0.7) url('./r4.jpeg');
    background-size: 100% ; /* */ 
    background-blend-mode: darken;
    
}
.firstselection{
    height: 100vh;
/*100vh*/}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    margin-left: 3%;
    max-width: 50%;
    height: 80%;
    float: left;
}

.firstHalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    margin-left: 3%;
}
.secondHalf{
width: 30%;

}
.secondHalf img {
    width: 70%;
    border: 5px solid rgb(229, 234, 234) ;
    border-radius: 30%;
    margin: auto;
    display: block;
    padding: 5%;
    
    
    
}
.secondHalf  img:hover{
   background-color: red; 
   border-radius: 5px;
   color: violet;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.buttons button:hover{
    color: red;
    background-color:blue;
    border: 2px solid black;
    border-radius: 40%;
}
.side{
    display: flex;
    align-items: center;
    width: 1500%;
  
}
.text-big{
    font-size: 50px;
}
.text-small{
    font-size: 25px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px ;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.button.sm{
    padding: 6px 10px;
    vertical-align:middle ;}
@media (max-width:600px){
    p{
        font-size: 5px;
    }
}
@media screen and (max-width=600px) {
    body{
      color: red;
      font-style: italic;
      font-size: large;
      
    }
}
body{
    position: fixed;
    width: 100%;
    height: 100%;
}
html, body{
    
    position: fixed;
    width: 100%;
    height: 100%;
}
